
.portfolio-categories {
    display: inline-block;
    background: #f5b090;
    color: #fefefe;
    padding: 10px 5px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
    width: 120px;
}

.collection-type-portfolio {
    .tweak-blog-date-style-above-title .entry-text .entry-title--list {
        padding-top: 40px;
    }
}