.collection-type-portfolio {

    .portfolio-categories {
        display: inline-block;
        background: #83988e;
        color: #fff;
        padding: 10px 15px;
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        text-align: center;
        border-radius: 999px;
    }
 
    .entry-text {
        position: relative;
        padding: 20px;
        border-top: 0;
        @media all and (min-width: 636px) {
            border: solid 1px #f5b090;
        }
    }

    &.tweak-blog-date-style-above-title .entry-text .entry-title--list {
        // special padding for title on portfolio page
        padding-top: 30px;
    }
}
